<div>
  <script>
    function myFunction() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    }
  </script>

  <nav>
    <div class="container-fluid">
      <label class="switch">
        <input
          type="checkbox"
          class="custom-control-input"
          onclick="myFunction()"
        />
        <span class="slider"></span>
      </label>

      <div>
        <ul>
          <li>
            <a class="navbar-brand" href="#"><h2>Home</h2></a>
          </li>
          <li>
            <a routerLink="/list" class="nav-link" routerLinkActive="active"
              >List</a
            >
          </li>
          <li>
            <a routerLink="/insert" class="nav-link" routerLinkActive="active"
              >Insert</a
            >
          </li>
          <li>
            <a routerLink="/edit" routerLinkActive="active" class="nav-link"
              >Edit</a
            >
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active" class="nav-link"
              >About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
