<!--
  <form class="form_area" action="">
  <table aria-hidden="true">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of employee">
        <td>
          {{ n.first_name }}
        </td>
        <td>
          {{ n.last_name }}
        </td>
        <td>
          {{ n.phone_number }}
        </td>
      </tr>
    </tbody>
  </table>
</form> -->


<div *ngFor="let book of bookList">
 {{book.isbn}} {{book.name}}
</div>
