<div>
  <input type="text" #myNameInputText>
  <button (click)="search(myNameInputText.value)">ค้นหา</button>
</div>

 <div>
 <form class="form_area" action="">
  <table aria-hidden="true">
    <thead>
      <tr>
        <th scope="col">Isbn</th>
        <th scope="col">FullName</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookList">
        <td>
          {{book.isbn}}
        </td>
        <td>
          {{ book.name }}
        </td>
        <td>
          {{ book.country }}
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>


