<div style="overflow-x: auto">
  <table aria-hidden="true">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>One</td>
        <td>
          <button class="comic-button2">Edit</button>
          <button class="comic-button">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Two</td>
        <td>
          <button class="comic-button2">Edit</button>
          <button class="comic-button">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Three</td>
        <td>
          <button class="comic-button2">Edit</button>
          <button class="comic-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
