.comic-button {
  display: inline-block;
  padding: 4px 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}
.comic-button2 {
  display: inline-block;
  padding: 4px 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #52ff7d;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}
.comic-button2:hover {
  background-color: #fff;
  color: #52ff7d;
  border: 2px solid #52ff7d;
  box-shadow: 5px 5px 0px #52ff7d;
}
.comic-button2:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

th, td {

  padding: 8px;
}
tr:nth-child(even) {background-color: #e06f53;}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e06f53;
  height: auto;
  width: auto;
  border: 3px solid #264143;
  border-radius: 25px;
  box-shadow: 3px 4px 0px 1px #E99F4C;
}
