<form class="form_area" action="">
  <table aria-hidden="true">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of employee">
        <td>
          {{ n.first_name }}
        </td>
        <td>
          {{ n.last_name }}
        </td>
        <td>
          {{ n.phone_number }}
        </td>
        <td>
          <button class="comic-button2">Edit</button>
          <button class="comic-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
