<div class="form_area">
  <p class="title">ADD EMPLOYEE</p>
  <form action="">
    <div class="form_group">
      <label class="sub_title">Firstname</label>
      <input
        placeholder="Enter Firstname"
        class="form_style"
        type="text"
        formControlName="first_name"
      />
    </div>
    <div class="form_group">
      <label class="sub_title">Lastname</label>
      <input
        placeholder="Enter Lastname"
        class="form_style"
        type="text"
        formControlName="last_name"
      />
    </div>
    <div class="form_group">
      <label class="sub_title">Number</label>
      <input
        placeholder="Enter Number"
        class="form_style"
        type="text"
        formControlName="num"
      />
    </div>
    <div>
      <button class="btn">ADD</button>
    </div>
  </form>
</div>
